body {
    margin: 0;
    background-color: #efefef;
}

@keyframes logo-fadeIn {
    from {opacity: 0;
        margin-right: 40px;}
    to {opacity: 1;
        margin-right: 0px;}
}

@keyframes menu-reveal {
    from {padding-top: 0;}
    tp {color: 20px;}
}

@keyframes comment-reveal {
    from {opacity: 0;}
    to {opacity: 1;}
}


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #030B16;
}
  
nav {
    display: block;
    width: 80%;
    margin: auto;
    z-index: 2;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: left;

    display: inline-block;
    height: 80px;
}

nav ul li {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: white;
    width: 120px;
    display: inline-block;
    padding: 20px 0;
    border-bottom: 2px solid transparent;
    animation: menu-reveal 1.5s;
}

nav ul li a:hover {
    background-color: #162232;
    border-bottom: 2px solid #ae1e18;   
}   

.logo-top {
    margin-top: 5px;
    width: 180px;
    height: 50px;
    float: right;
    animation: logo-fadeIn 1.5s;

}

p {
    line-height: 1.5em;
    text-indent: 20px;
    font-family: Candara, serif;
}

.main, .write-comment {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.main {
    margin-top: 80px;
}

.fan-comment {
    padding-top: 20px;
    border-bottom: 2px solid #030B16;
}

.username {
    float: right;
    margin: 0 50px 0 0;
    font-weight: bold;
    font-size: 18px;
    animation: comment-reveal 1.5s;
}


.comment-date {
    font-size: 18px;
    animation: comment-reveal 1.5s;
}

.write-comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 45%;
    padding: 5px 5px 160px 5px;
    vertical-align: top;
}

input[type="submit"] {
    display: inline-block;
    padding: 5px 70px 5px 70px;
    margin-left: 10px;
    margin-top: 155px;
    
}







footer {
    background-color: #162232; 
    color: white;
    padding: 20px 0 20px 0;
    height: 50px;
    width: 100%;
    text-align: center;
}