<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/lab7</property>
        <!--?serverTimezone=UTC-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping class="ua.lviv.iot.model.AddCompanyEntity"/>
        <mapping class="ua.lviv.iot.model.FootballClubEntity"/>
        <mapping class="ua.lviv.iot.model.FootballPlayerEntity"/>

    </session-factory>
</hibernate-configuration>